*{box-sizing: border-box;}
body{
    background-color: #C174C3;
}
.main{
    width: 1440px;
    height: 820px;
    flex-shrink: 0;
    background: var(--shade-background, #F9F9F9);
    position: relative;
    margin: 20px 20px;
}
.logo{
    position: absolute;
    font-family: 'Jost', sans-serif;
    color: var(--neutral-dark, #111);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width:auto 145px ;
    height: auto 52px;
    display: flex;
    left: 180px;
    top: 24px;
}
.logo2{
    color: #C8815F;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.nav{
    width: 452px;
    height: 25px;
}
ul{             /*negalima aprašynėti .nav . ar galima padaryti, kad galėtu aprašinėti viską kas yra div'e? */
    display: flex;
    display: inline-flex;
    padding: 40px 474px;
    align-items: center;
    gap: 32px;
    height: 25px;
    width: 452px;
    list-style: none;

}
a{
    text-decoration: none;
    color: var(--neutral-dark, #111);
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.icons{
    width: 184px;
    height: 28px;
    
}
#icons2 {
    display: flex;
    gap: 24px;
    padding: 24px 1075px;
}
.left{
    display: flex;
    position: relative;
    flex-shrink: 0;
    right: 50px;
    top: 150px;
}

.text{
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.text2{
    olor: var(--neutral-dark, #111);
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px; /* 114.286% */
    letter-spacing: -2.24px;
    text-transform: uppercase;
    width: 365px;
    height: 192px;
}
.button{
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--primary-dark, #111);
    
}
.pic{

}
.right{
    display: flex;
    position: relative;
    right: -1330px;
    top: 150px;
    flex-shrink: 0;
    
}
.dots{

}