* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  
  font-family: monospace;
}

.App {
    text-align: center;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #d0f808;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #fb6161;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Roboto Font */
  body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*Container class*/
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-flex.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /*Title and Subtitle */
  .title {
    font-size: 3.75rem;
    font-weight: 500;
    margin: 1rem 0;
  }

  
  .btn {
    margin: 0.25rem 0.125rem;
    padding: 0.35rem 1.25rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.6px;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #000;
    border: none;
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
    transition: 0.3s ease;
  }
  .btn:hover,
  .btn-accept:hover,
  .btn-warning:hover {
    cursor: pointer;
    box-shadow: none;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.75);
  }
  
  /* Btn Types*/
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  .btn-danger:hover {
    background: rgba(220, 53, 69, 0.75);
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: white;
    color: #000;
  }
  .btn-warning:hover {
    background: rgba(255, 193, 7, 0.75);
  }
  
  .btn-accept {
    background-color: #284ea7;
    color: white;
  }
  .btn-accept:hover {
    background: rgba(40, 78, 167, 0.75);
  }
  
  .btn-lg {
    margin: 0.3125rem 0.15625rem;
    padding: 0.4375rem 1.5625rem;
    font-size: 20px;
  }

  /* Stopwatch */

  .stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid ;
    border-radius: 50px;
    background-color: cornsilk;
    padding: 30px;
  }
  .display{
    font-size: 5rem;
    
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
  }
  .controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
  }
  .start-button{
    background-color: hsl(115, 100%, 40%);
  }
  .start-button:hover{
    background-color: hsl(115, 100%, 35%);
  }
  .stop-button{
    background-color: hsl(10, 90% , 50%);
  }
  .stop-button:hover{
    background-color: hsl(10, 90% , 45%);
  }
  .reset-button{
    background-color: hsl(205, 90% , 60%);
  }
  .reset-button:hover{
    background-color: hsl(205, 90% , 50%);
  }

  /* Timer */

  .TimerWrapper{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: cornsilk;
    color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 4px 6px rgba(0,0,0,0.4);
    padding: 2rem 0;
  }
    .stop-watch{
        font-size: 6rem;
        margin-right: 1rem;
    }
    label{
        margin-bottom: 0.5rem;
    }
    input{
        width: 100px;
        margin-right: 1rem;
        color: #282c34;
        outline: none;
        border: none;
        font-size: 4.5rem;
        font-weight: 600;
        text-align: center;
        padding: 0rem 0.5rem;
        border-radius: 50px;
    }
    input:hover{
        background-color: #928f8f;
    }

