@tailwind base;
@tailwind components;
@tailwind utilities;

.form1{
    background-color: antiquewhite;
    padding: 20px;
    gap: 15px;
    display: grid;
    place-items: center;
}
button{
    background-color: blueviolet;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
}

.box{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    background-color: aqua;
    border-radius: 33% 67% 34% 66% / 19% 21% 79% 81%  ;
}
.box-container{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.Form2{
    background-color: brown;
    padding: 50px;
    display: grid;
    place-items: center;
}
.Form2 input{
    background-color: aqua;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 3px black solid;
}
.Form2 ul li{
    border: 1px solid black;
    border-radius: 5px;
    list-style: inside;
}

.Form3{
    background-color: rgb(42, 165, 83);
    padding: 50px;
    display: grid;
    place-items: center;
    gap: 10px;
}
.Form3 input{
    background-color: rgb(112, 122, 122);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 3px black solid;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Form4{
    background-color: #e1e1e7;
    padding: 50px;
    display: grid;
    place-items: center;
    gap: 10px;
}
.Form5{
    background-color: bisque;
    padding: 10px;
    display: grid;
    place-items: center;
    gap: 10px;
}
.border-radius{
    display: flex;
    
}
.form-created{
    background-color: aqua;
    display: grid;
    place-items: center;
}
.form-saved{
    background-color: aliceblue;
    display: grid;
    place-items: center;
}