body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(77, 77, 180);
    width: 22rem;
    color: white;
    text-align: center;
    border-radius: 20px;
}

div{
    margin-top: 20px;
}

button{
    margin: 20px;
    width: 90%;
    height: 2.5rem;
    border-radius: 20px;
    
}
.btn{
    background-color: rgb(206, 135, 3);
    color: white;
}

.result{
    color: black;
    font-weight: bold;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    background-color: blueviolet;
    display: none;
    
}
.svf29f{
    background-color: blueviolet;
}
